@import './styles/otherStyling.css';

body {
    display: flex;
    justify-content: center;
    align-content: center;

}
// canvas {
//     display: none
// }
.bannerpic{
  z-index: -1;
}
#start-page{
    z-index: 3;
    position: absolute;
    // align-content: center;
    // position: center;
    justify-content: center;
    width: 1340px;
    height: 650px; 
    // top: auto;
    left: auto;
    right: auto;
    padding: 150px;
    margin: 0px;
    // background-image: linear-gradient(to top left, blue, green);
    background-color:#162741;
    
    // box-shadow: 10px 10px 11px rgba(0, 0, 0, 0.25);
    // border-radius: 20px;
    
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    // background-image: url("/img/one_piece_sprites/startpage.png"),url("/img/one_piece_sprites/background2.png"),url("/img/one_piece_sprites/startpage.png"), url("/img/one_piece_sprites/startpage.png");
    // background-size: 1000px 500px, 1000px 500px, 1000px 500px, 1000px 500px;
    // background-repeat: no-repeat;
    // background-size: 1024px 576px, 1027px 576px, 1023px 576px, 1022px 576px;

    background-size: 900px 500px;
    background-repeat: no-repeat;
    background-size: 1024px 576px;
    background-position: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    ;
    ul{
        
        list-style: none;
    }
  
    
}

.footer-tab{
  position: absolute;
  z-index: 99;
  // border: 1px black solid;
  width: 1340px;
  margin-top: 700px;
  height: 53px;
  // box-shadow: 0 0 11px rgba(0, 0, 0, 0.25);
  background-color: #35475a;
  
}

.superpowers{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 300px;
  margin-right: 300px;
  // border-top: 2px black solid;

}

.linkss{
  color: white;
  text-decoration: none;
}


#imgcontainer{
  display: flex;
  position: absolute;
  // border: 1px black solid;
}

#wholecrew{
  z-index: -1;
  display: flex;
  position: absolute;
  width: 1340px;
  height: 753px;
  margin-top: -150px;
  margin-left: -670px;

}
#instructions{
  z-index: 3;
  position: absolute;
  // align-content: center;
  // position: relative;
  justify-content: right;
  width: 432px;
  height: 576px; 
  // top: auto;
  left: auto;
  right: 200px ;
  // padding: 150px;
  padding-right: 100px;
  margin: 0px;
  // background-image: linear-gradient(to top left, blue, green);
  background-color:rgba(51, 91, 128, 0.9);
  
  box-shadow: 10px 10px 11px rgba(0, 0, 0, 0.25);
  // border-radius: 20px;
  
  font-size: 16px;
  line-height: 28px;
  // background-image: url("/img/one_piece_sprites/startpage.png"),url("/img/one_piece_sprites/background2.png"),url("/img/one_piece_sprites/startpage.png"), url("/img/one_piece_sprites/startpage.png");
  // background-size: 1000px 500px, 1000px 500px, 1000px 500px, 1000px 500px;
  // background-repeat: no-repeat;
  // background-size: 1024px 576px, 1027px 576px, 1023px 576px, 1022px 576px;
 
  // background-size: 900px 500px;
  // background-repeat: no-repeat;
  // background-size: 1024px 576px;
  // background-position: 0px 0px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  ;
  ul{
      
      list-style: none;
  }

  
}

#player-controls{
  display: flex;
  flex-direction: column;
  // justify-items: center;
  // flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}


// li {
//   display: flex;
//   align-items: center;
//   justify-content:space-between;
// }

ul{
  display: flex;
  flex-direction: column;
}
button {
    font-family: Raleway;
    // padding: 300;
    font-size: large;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    
    
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}


.buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  text-align: center;
}
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

h1 {
  color: #fff;
  font-size: 1.25em;
  font-weight: 900;
  margin: 0 0 2em;
}
@media (min-width: 450px) {
  h1 {
    font-size: 1.75em;
  }
}
@media (min-width: 760px) {
  h1 {
    font-size: 3.25em;
  }
}
@media (min-width: 900px) {
  h1 {
    font-size: 5.25em;
    margin: 0 0 1em;
  }
}

p {
  color: #fff;
  font-size: 12px;
}
@media (min-width: 600px) {
  p {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    top: 90%;
  }
}
@media (max-height: 500px) {
  p {
    left: 0;
    position: relative;
    top: 0;
    transform: translate(0, 0);
  }
}
p a {
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid;
  color: #fff;
  line-height: 1.4;
  padding: 0.25em;
  text-decoration: none;
}
p a:hover {
  background: rgb(255, 255, 255);
  color: #E1332D;
}

.btn {
  color: rgb(168, 238, 188);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
@media (min-width: 600px) {
  .btn {
    margin: 0 1em 2em;
  }
}
.btn:hover {
  text-decoration: none;
}

.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(0, 255, 81, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(0, 141, 144, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

// #startpage a \{
//   width: 30px;
//   height: 30px;
// }




